.size {
    background-color: azure;
    color: rgb(8, 78, 20);
    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 5px;
    width:300px;
    text-align: center;
    font-weight: 600;
}


.img-size {
    width: 250px;
    height: 200px;
    padding:20px;
    border-radius: 20px;
}
#meals{
    margin: 40px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.search{
   margin: 20px 400px
}
.divItem{
    background-color: aquamarine;
    margin:100px 500px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(70, 24, 3);
    border-radius: 20px;
    padding: 10px;
    width:600px;
}
.divItem img{ 
    margin: 5px 150px;
    padding: 10px;
    width: 280px;
    height: 200px;
}